.page-footer {
    display: none;

    @include breakpoint(large) {
        display: block;
        margin-top: auto;
        height: rem-calc(505);
        background-image: url(../img/layout/page-footer.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
}
