.section {
    &:not(:last-child) {
        margin-bottom: rem-calc(64);
    }
    &:nth-last-child(2) {
        margin-bottom: rem-calc(32);
    }
}

.section_prev {
    display: none;

    @include breakpoint(large) {
        display: block;
        height: rem-calc(1237);
        background-image: url(../img/layout/section_prev.png);
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}

.section__header {
    margin-bottom: $bit * 4;
}

.section_footer {
    display: flex;
    justify-content: center;
    padding-top: 0;
}
